{% extends "base.html" %}

{% block content %}

<h2 class="title">Login</h2>

<br>

<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="username">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" name="password">
    </div>

    <br>
    <p>Don't have an account? <a href="{% url 'story9:register' %}">Sign up</a></p>
    <button type="submit" class="btn btn-outline-primary">Login</button>

</form>

{% for message in messages %}
    <p>{{message}}</p>
{% endfor %}






{% endblock %}