{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h2 class="title">Register</h2>

<br>


<form method="POST"> 
    {% csrf_token %}

    {{form|crispy}}

    <button type="submit" class="btn btn-outline-primary">Register</button>
</form>

{% endblock %}