{% extends "base.html" %}
{% load static %}

{% block content %}

<h2 class="title"> Story 7 Accordion</h2>

<br>

<div class="accordion">
  <div class="accord-part">
    <div class="accord-header">My Activity
      <button type="button"  class="up">^</button> <button type="button" class="down">v</button>
    </div>
    <div class="accord-content">Kegiatanku saat ini adalah sebagai mahasiswa Fakultas Ilmu Komputer angkatan 2019 di Universitas Indonesia.</div>
  </div>

  <div class="accord-part">
    <div class="accord-header">My Experience
      <button type="button" class="up">^</button> <button type="button" class="down">v</button>
    </div>
    <div class="accord-content">
      <li>Experience 1</li>
      <li>Experience 2</li>
      <li>Experience 3</li>
    </div>
  </div>

  <div class="accord-part">
    <div class="accord-header">My Achievement
      <button type="button" class="up">^</button> <button type="button" class="down">v</button>
    </div>
    <div class="accord-content">
      <li>Achievement 1</li>
      <li>Achievement 2</li>
      <li>Achievement 3</li>
    </div>
  </div>

  <div class="accord-part">
    <div class="accord-header">My Hobby
      <button type="button" class="up">^</button> <button type="button" class="down">v</button>
    </div>
    <div class="accord-content">
      <li>Bermain Game</li>
      <li>Menonton Sepakbola</li>
      <li>Menonton YouTube</li>
      <li>Ngoding</li>
  </div>
  
</div>


{% endblock %}


{% block script %}
<script src= "{% static 'story7/event.js' %}"></script>
{% endblock %}
