@font-face {
    font-family: "Prompt";
    src: url(Prompt-Regular.ttf);
}
.title {
    text-align: center;
    font-family: Prompt;
    color: #041C5B;
}
#name-profile {
    text-align:left;
    padding-left:100px;
}
span {
    color: #F6D005;
}
.column {
    float: left;
    width: 15%;
    padding-left: 10px;
    padding-top: 20px;
    font-size:24px;
    font-family: Prompt;
    color: #041C5B;
}
.column.middle {
    width: 50%;
    font-size:24px;
    padding-left: 80px;
    padding-top: 20px;
    color:black;
    
}
.column.logo {
    float:right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    
}

li a:hover {
    background-color: #555;
    color: white;
}

#center{
    text-align: center;
    background-color: #E5E5E5;
}
.card-img-top{
    width:400px;
    height:200px;
}

.accord-header {
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 6px 12px;
    color:white;
    font-family: Prompt;
    background-color: grey;
}

.accord-content {
    display: none;
    font-family: Prompt;
    background-color: #cfcfcf;
    padding-left: 8px;
}
  
.on {
    background: #041C5B;
    border-color: #d6e9c6;
    color: #fff;
    font-family: Prompt;
}
.up {
    float:right;
    color:black;

}
.down {
    float:right;
    color:black;
}

.list-books{
    border: 1px black;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Prompt;
}
th, td {
    padding: 15px;
    text-align: left;
}
th {
    background-color: #041C5B;
    color: white;
    text-align: center;
}

.keyword {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    font-style: italic;
    background-color: white;
    background-image: url('/static/story8/searchicon.png');
    background-position: 8px 8px; 
    background-repeat: no-repeat;
    padding: 10px 15px 10px 35px;
}