table, th, td {
    border: 1px solid powderblue;
    background-color: antiquewhite;
    width:25%
  
  }

  p {
      background-color: antiquewhite;
      border: 2px solid powderblue;
      padding: 30px;
      width: 400px;
  }

  h3 {
      font-family:verdana;
  }