@font-face {
    font-family: "Prompt";
    src: url(Prompt-Regular.ttf);
}
.title {
    text-align: center;
    font-family: Prompt;
    color: #041C5B;
}
#name-profile {
    text-align:left;
    padding-left:100px;
    color: #041C5B;
}
span {
    color: #F6D005;
}
.column {
    float: left;
    width: 15%;
    padding-left: 30px;
    padding-top: 20px;
    font-size:24px;
    font-family: Prompt;
    color: #041C5B;
}
.column.middle {
    width: 70%;
    font-size:24px;
    padding-left: 130px;
    padding-top: 20px;
    color:black;
    
}
.column.logo {
    width: 8%;
    padding: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    
}

li a {
    display: block;
    color: #041C5B;
    padding: 5px 5px;
    text-decoration: none;
    font-family: Prompt;
    font-size:20px;
    text-align:center;
}
li a:hover {
    background-color: #555;
    color: white;
}

#center{
    text-align: center;
    background-color: #E5E5E5;
}
.card-img-top{
    width:400px;
    height:200px;
}
  