{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'story1/style.css' %}">
    </head>
<body>
    <img src="{% static 'story1/foto.png' %}" style="width:250px; height:250px;">


    <h3> About Me </h3>
    <p> Saya merupakan mahasiswa Universitas Indonesia Fakultas Ilmu Komputer 2019</p>

    <h3> Profile </h3>

    <p>
     Nama        : Muhammad Rakha Zachrie<br>
     NPM         : 1906353795<br>
     Angkatan    : 2019<br>
     Hobi        : Bermain Game<br>
     Universitas Indonesia Fakultas Ilmu Komputer
    </p>


    <h3> Educations</h3>

    <table >
        <tr>
            <th>Pendidikan</th>
            <th>Tahun</th> 
        </tr>
        <tr>
            <td>SDN 01 Bambu Apus</td>
            <td>2006 - 2012</td>
        </tr>
        <tr>
            <td>SMPN 20 Jakarta</td>
            <td>2012 - 2015</td>
        </tr>
        <tr>
            <td>SMAN 48 Jakarta</td>
            <td>2015 - 2018</td>
        </tr>
        <tr>
            <td>Universitas Indonesia</td>
            <td>2019 - Sekarang</td>
        </tr>
    </table>

    <h3 style> Contact </h3>
    <a href="https://www.instagram.com/rakhazachrie"><img src="{% static 'story1/IG.png' %}" style="width:42px;height:42px;"></a>


</body>
</html>