{% extends "base.html" %}
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'matakuliah\style.css' %}">
    </head>
    {% block content %}
    <body>
        <br>
        <h3 class="title"> Deskripsi Mata Kuliah</h3>
        <br>
            <div class="shadow p-3 mb-5 bg-white rounded">
                <h4 style="font-family:Prompt;"> {{ matkul.Mata_Kuliah }}</h4>
                <p style="font-family:Prompt;"> {{ matkul.deskripsi }}</p>
                <p style="font-family:Prompt;"> Kelas : {{ matkul.kelas }}</p>
            </div>
    </body>
    {% endblock content %}