{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <h3 style="text-align: center;"> Daftar Mata Kuliah </h3>
        <div class="form-group">
            <form action="" method="post">
                {% csrf_token %}
                {{ input_form.as_p}}
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>