{% extends "base.html" %}
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'matakuliah\style.css' %}">

    </head>
    {% block content %}
    <body>
        <br>
        <h3 class="title"> Daftar Mata Kuliah</h3>
        <br>
        {% for i in matkuls %}
        <div class="container-fluid">
                <h3 style="font-family:Prompt;">
                    <a href= "{% url 'matakuliah:detail' i.id %}" style="color:black;">
                        {{ i.Mata_Kuliah }}
                    </a>
                    <small class="text-muted">{{ i.SKS }} SKS</small>
                </h3>
            <p style="font-family:Prompt;">Dosen Pengajar : {{ i.Dosen_Pengajar }}</p>

            <form method="POST">
                {% csrf_token %}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" name="delete" value= {{i.id}}  class="btn btn-secondary btn-sm">DELETE</button> 
                </div>
            </form>
            <br>

        </div>
        {% endfor %}
        <br>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="add" value="add" class="btn btn-secondary btn-lg btn-block"> ADD </button>            
        </form>
    </body>
    <button type="submit" name="detail" value= {{i.id}} style="border: none; outline: none; background: none; text-align: left;">
        {{ i.Mata_Kuliah }}
    </button>
    {% endblock content %}