{% extends "base.html" %}
{% load static %}
<html>
    
    <body>
    {% block content %}

        <h2 class="title">Abilities</h2>

        <table id="center" class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Skills</th>
                <th scope="col">Languages</th>
                <th scope="col">Tools</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Active listening</td>
                <td>Indonesia</td>
                <td>Ms.Office</td>
              </tr>
              <tr>
                <td>Programming Languages<br>(java, python, html)</td>
                <td>English</td>
                <td>Adobe Photoshop</td>
              </tr>
              <tr>
                <td>Leadership</td>
                <td>German</td>
                <td>Windows</td>
              </tr>
            </tbody>
        </table>

        <h2 class="title">Projects & Experiences</h2>

        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
              <div class="card">
                <img src="{% static 'projects\traveloka.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Project 1</h5>
                  <p class="card-text">Deskripsi</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="{% static 'projects\gojek.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Project 2</h5>
                  <p class="card-text">Deskripsi</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="{% static 'projects\tokopedia.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Experience 1</h5>
                  <p class="card-text">Deskripsi</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="{% static 'projects\ruangguru.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Experience 2</h5>
                  <p class="card-text">Deskripsi</p>
                </div>
              </div>
            </div>
        </div>
      </body>
      {% endblock content %}
</html>