{% extends "base.html" %}
{% load static %}

{% block content %}

<input class="keyword" placeholder="Search books">
<h2 class="title">Daftar Buku</h2>
<br>

<br>

<table class="list-books">

</table>

{% endblock %}

{% block script %}

<script src= "{% static 'story8/eventSearch.js' %}"></script>

{% endblock %}