{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Rakha's Story</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'main:main' %}">HOME</a></li>
          <!-- <li><a href="{% url 'projects:projects' %}">PROJECT & EXPERIENCE</a></li> -->
          <li><a href="{% url 'matakuliah:matkul' %}">MATA KULIAH</a></li>
          <li><a href="{% url 'story7:story7' %}">STORY 7</a></li>
          <li><a href="{% url 'story8:story8' %}">STORY 8</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'story9:logout' %}">LOGOUT</a></li>
            <li><a href="#">Hi {{ request.user.username }} !!</a></li>
          {% else %}
            <li><a href="{% url 'story9:login' %}">LOGIN</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</head>

<body>
  {% block content %}
  {% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  {% block script %}
  {% endblock %}
</body>

</html>
