{% extends "base.html" %}
{% load static %}

<html>


<body>
{% block content %}
<header>

    <h1 class="title">PROFILE</h1>

    <div class="row">

        <div class="column">
        <img src="{% static 'main\foto.png' %}" style="width:225px; height:225px;">
        </div>

        <div class="column middle">
        <h2 id="name-profile"class="title">Muhammad Rakha <br> <span>Zachrie</span></h2> 
        <hr>
        <h3 id="name-profile" class="column middle">Mahasiswa</h3>
        </div>
    </div>




</header>

<section>
<div class="row">

    <div class="column">
        <h3> About Me </h3>
    </div>

    <div class="column middle">
        <p> Saya merupakan mahasiswa tahun kedua di Universitas Indonesia. Saya menyukai games dan sepakbola.</p>
    </div>

</div>

<div class="row">
    <div class="column">
        <h3> Education </h3>
    </div>

    <div class="column middle">
        <ul class="list-unstyled">
            <li>SDN Bambu Apus <small class="text-muted">(2006 - 2012)</small></li>
            <li>SMPN 20 Jakarta <small class="text-muted">(2012 - 2015)</small></li>
            <li>SMAN 48 Jakarta <small class="text-muted">(2015 - 2018)</small></li>
            <li>Universitas Indonesia <small class="text-muted">(2019 - Present)</small></li>
        </ul>
    </div>
</div>

</section>
    
<footer>

<div class="row">

    <div class="column logo">
        <a href="https://www.instagram.com/rakhazachrie"><img src="{% static 'main\IG.png' %}" style="width:75px;height:75px;" class="rounded-circle"></a>
    </div>

    <div class="column logo">
        <a href="https://www.linkedin.com/in/rakha-zachrie/"><img src="{% static 'main\LinkedIn.jpg' %}" style="width:75px;height:75px;" class="rounded-circle"></a>
    </div>

</div>
</footer>
{% endblock content %}
</body>
</html>